 * {
     box-sizing: border-box;
 }

 * {
     font-family: "Pretendard" !important;
     font-weight: 400;
     color: #333;
     letter-spacing: -0.5px;
     font-size: 14px;
 }

 body {
     padding: 20px;
 }

 .logo_iner {
     text-align: right;
 }

 .logo {
     width: 53px;
     text-align: right;
     display: inline-block;
     margin: 10px 10px 10px 0;

 }

 .t1 {
     font-size: 35px;
     font-weight: 400;
     padding-left: 10px;
 }

 .t2 {
     font-size: 35px;
     font-weight: 800;
     padding-bottom: 20px;
     padding-left: 10px;
 }

 .t3 {
     font-size: 16px;
     color: #838383;
     line-height: 25px;
     padding-bottom: 30px;
     padding-left: 10px;
 }

 .box {
     background: #ededed;
     border-radius: 25px;
     float: left;
     width: 100%;
     margin-bottom: 20px;
     height: 170px;
 }

 .box2 {
     background: #ededed;
     border-radius: 25px;
     float: left;
     width: 100%;
     margin-bottom: 20px;
     height: 170px;
 }

 .iner2 {
     width: 55%;
     float: left;
     padding-top: 13px;
     text-align: center;
     display: inline-block;
 }

 .iner3 {
     width: 45%;
     float: left;
     padding-left: 5px;
 }

 .img1 {
     height: 130px;
     padding-left: 4px;
margin-top: 8px;
 }

 .img2 {
     height: 130px;
     margin-top: 5px;
 }

 .t6 {
     font-size: 22px;
     color: #505050;
     font-weight: 700;
     line-height: 30px;
     padding-top: 50px;
 }

 .t4 {

     font-size: 18px;
     color: #505050;
     line-height: 25px;
     padding-top: 40px;
     font-weight: 400;
 }

 .t5 {
     font-size: 22px;
     color: #505050;
     font-weight: 700;
     line-height: 30px;
     padding-top: 3px;
 }


 @media (min-width: 768px) {
     body {
         padding: 40px;
         max-width: 768px;
         margin: 0 auto;
     }

     .logo {
         width: 65px;
         text-align: right;
         display: inline-block;
         margin: 10px 10px 10px 0;
     }

     .t1 {
         font-size: 43px;
         font-weight: 400;
         padding: 0 10px 0 10px;

         float: left;
     }

     .t2 {
         font-size: 43px;
         font-weight: 800;
         padding-bottom: 20px;
         padding-left: 10px;
     }

     .t3 {
         font-size: 20px;
         color: #838383;
         line-height: 30px;
         padding-bottom: 50px;
         padding-left: 10px;
     }

     .box {
         float: left;
         width: 48%;
         margin-right: 2%;
         height: 320px;
         position: relative;
     }

     .box2 {
         float: left;
         position: relative;
         width: 48%;
         margin-left: 2%;
         height: 320px;
     }
     .iner2{
         height: 50%;width: 100%;
     }
     .iner3 {
         position: absolute;
         top: 0;
         left: 30px;height: 50%;width: 100%;
     }

     .img1 {
         position: absolute;
         right: 0;
         bottom: 0;
         height: 150px;
     }
     .img2 {
         position: absolute;
         right: 0;
         bottom: 10px;
         height: 140px;
     }
     .t4 {
         font-size: 25px;
         color: #505050;
         line-height: 36px;
         padding-top: 30px;
         font-weight: 400;
     }

     .t5 {
         font-size: 30px;
         color: #505050;
         font-weight: 700;
         line-height: 30px;
         padding-top: 5px;
     }
     
      .t6 {
         font-size: 30px;
         color: #505050;
         font-weight: 700;
         line-height: 40px;
         padding-top: 30px;
 }

 }
